#login {
    width: 33.3%;
    margin: auto;
}

#login>* {
    text-align: center;

}

#login h2 {
    margin-top: 150px;
    margin-bottom: 37px;

}
#login form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#login input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
    margin: 2em 0 1em 0;
}

#login p{
    text-decoration: underline;
}

#login p:hover{
    color: var(--logoColor);    
}
.hidden-error{
    margin-top: 15px;
    opacity: 0;
}
.error{
    content: "";
    opacity: 1;
    color: red;
}

.login-selected{
    font-weight: 600;
}